* {
  margin: 0;
  padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
  }
  .settings {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin: 50px;
  }

 .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 400px;
  background-color:rgba(216, 198, 198, 0.328);
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
 }
  .title {
    font-size: 24px;
     color: #233611;
     font-weight: bold;
  }
  .body {
    display:flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
  }
  .footer {
    font-size: 18px;
    padding: 40px;
    background-color:rgba(216, 198, 198, 0.328);
    box-shadow: 8px 4px 4px 4px rgb(60 64 67 / 30%);
    text-align: center;
  }

button {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  max-width: 100%;
  line-height: normal;
  padding: 2px 24px;
  width: auto;
  }
button.active {
  background-color: #95b37820;
}
.grid {
    display: grid;
    width: 600px;
    height: 600px;
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 8px;
  }
  
 .grid-element {
  user-select: none;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
